* {
    margin: 0%;
    padding: 0%;
}


/* body */

body {
    background-color: aqua;
}

h1 {
    background-color: aliceblue;
    text-align: center;
    font-family: Helvetica;
    padding: 2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    width: 50%;
    height: 2rem;
    margin: 1rem;
}
form button{
    width: 20%;
    height: 2rem;
    background-color: aquamarine;
    color: black;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem;
}

/* to-do list */

#todo-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-self: center;
    font-size: 3rem;
}
#todo-list li {
    display: flex;
    flex-direction: column;
    background-color: brown;
    align-items: center;
    color: white;
}

.responded {
    color :black;
    text-decoration: line-through;
}

/* responsive fot mobile */


@media (max-width:500px){

#todo-list{
    font-size: 1.5rem;
}

   
}





